@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 10px;
}

header {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;
}

img {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    margin: 0px 0px 0px 30px;
    padding: 5px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone {
    margin-right: 80px;
    margin-top: 3px;
    background-color: #fff;
    border-radius: 20px;
}

.nome-loja {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    margin-right: 1500px;
}

.espaco-body {
    background-color: #000;
}

.titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 30px;
}

.header-body {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botao-add {
    margin-top: 20px;
}

.botao-add a button {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas levemente arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-family: 'Inter', sans-serif; /* Fonte consistente */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para o efeito de hover */
}

.botao-add a button:hover {
    background-color: #191340; /* Cor de fundo ao passar o mouse */
}



.caixa-pesquisa {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 10px; /* Espaçamento entre os elementos */
    margin-top: 20px; /* Espaçamento superior */
    margin-left: 30px; /* Adiciona margem à esquerda */
}

.pesquisa {
    background-color: #fff; /* Cor de fundo branca */
    color: #191340; /* Cor do texto */
    border: 1px solid #ccc; /* Borda fina e suave */
    border-radius: 5px; /* Bordas levemente arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-family: "Inter", sans-serif; /* Fonte consistente */
    font-size: 16px; /* Tamanho da fonte */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave para o efeito de foco */
    outline: none; /* Remove o contorno padrão */
    box-shadow: none; /* Remove a sombra padrão */
    -webkit-appearance: none; /* Remove a aparência padrão no Safari */
    -moz-appearance: none; /* Remove a aparência padrão no Firefox */
    appearance: none; /* Remove a aparência padrão nos navegadores modernos */
}

.pesquisa::placeholder {
    color: #aaa; /* Cor do texto do placeholder */
    opacity: 1; /* Opacidade do texto do placeholder */
}

.pesquisa:focus {
    border-color: #191340; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(25, 19, 64, 0.5); /* Sombra ao focar */
}

.botao-pesquisa {
    background-color: #fff; /* Cor de fundo branca */
    color: #191340; /* Cor do texto */
    border: 1px solid #191340; /* Borda fina */
    border-radius: 5px; /* Bordas levemente arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-family: "Inter", sans-serif; /* Fonte consistente */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s, color 0.3s; /* Transição suave para o efeito de hover */
    outline: none; /* Remove o contorno padrão */
    margin-left: 10px; /* Adiciona margem à esquerda para separar do campo de pesquisa */
}

.botao-pesquisa:hover {
    background-color: #191340; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

.tabela-container {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.tabela {
    width: 100%;
    max-width: 100vw;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabela th, .tabela td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.tabela th, tabela td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.botao {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #191340;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.botao:hover {
    background-color: #000;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pagination-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #191340;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.pagination-container button:hover {
    background-color: #000;
}

.pagination-container span {
    font-size: 16px;
}