@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 10px;
}

header {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;
}

img {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    margin: 0px 0px 0px 30px;
    padding: 5px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone {
    margin-right: 80px;
    margin-top: 3px;
    background-color: #fff;
    border-radius: 20px;
}

.nome-loja {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    margin-right: 1500px;
}

.espaco-body {
    background-color: #000;
}

.titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 30px;
}

.header-body {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botao-add {
    margin-top: 20px;
}

.botao {
    background-color: #fff;
    color: #191340;
    border: 1px solid #191340;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    margin-left: 850px;
}

.botao:hover {
    background-color: #191340;
    color: #fff;
}

.caixa-pesquisa {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 30px;
}

.pesquisa {
    background-color: #fff;
    color: #191340;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pesquisa::placeholder {
    color: #aaa;
    opacity: 1;
}

.pesquisa:focus {
    border-color: #191340;
    box-shadow: 0 0 5px rgba(25, 19, 64, 0.5);
}

.botao-pesquisa {
    background-color: #fff;
    color: #191340;
    border: 1px solid #191340;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    margin-left: 10px;
    margin-right: 20px;
}

.botao-pesquisa:hover {
    background-color: #191340;
    color: #fff;
}

.tabela {
    width: 100%;
    background-color: #ccc;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.tabela-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}