@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 10px;
}

header {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;
}

img {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    margin: 0px 0px 0px 30px;
    padding: 5px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone {
    margin-right: 80px;
    margin-top: 3px;
    background-color: #fff;
    border-radius: 20px;
}

.nome-loja {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    margin-right: 1500px;
}

.espaco-preto{
    background-color: #000;
}

.titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 30px;
}

.header-body {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-cadastro {
    color: #FFF; /* Cor do texto */
    font-family: "Inter", sans-serif; /* Fonte consistente */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
    margin: 20px 0; /* Margem superior e inferior */
    margin-left: 50px;
    text-align: center; /* Centraliza o texto */
}

.botao-voltar {
    background-color: #fff; /* Cor de fundo */
    color: #000; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas levemente arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-family: 'Inter', sans-serif; /* Fonte consistente */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para o efeito de hover */
    margin-right: 80px;
}

.botao-voltar:hover {
    color: #fff;
    background-color: #191340; /* Cor de fundo ao passar o mouse */
}

.titulo-campo {
    width: 50%; /* Largura dos títulos */
    text-align: left; /* Alinha o texto à esquerda */
    font-family: "Inter", sans-serif; /* Fonte consistente */
    font-size: 16px; /* Tamanho da fonte */
    color: #191340; /* Cor do texto */
    margin-bottom: 5px; /* Margem inferior para separar do campo de entrada */
}

.input-cadastro {
    width: 50%; /* Largura dos campos */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #000; /* Borda fina e suave */
    border-radius: 5px; /* Bordas levemente arredondadas */
    font-family: "Inter", sans-serif; /* Fonte consistente */
    font-size: 16px; /* Tamanho da fonte */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s; /* Transição suave para o efeito de foco */
}

.input-cadastro:focus {
    border-color: #191340; /* Cor da borda ao focar */
}

.botao-cadastro {
    background-color: #191340; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas levemente arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-family: "Inter", sans-serif; /* Fonte consistente */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para o efeito de hover */
}

.botao-cadastro:hover {
    background-color: #000; /* Cor de fundo ao passar o mouse */
}

.form-cadastro-container {
    display: flex;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: flex-start; /* Alinha os itens no início */
    margin: 20px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px; /* Ajustado para reduzir o espaçamento */
    margin-top: 20px;
    width: 70%;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 30%;
    margin-left: auto;
    margin-right: 200px;
    margin-bottom: 20px;
    margin-top: 20px; /* Removido margin-top negativo */
}

.campo-container {
    width: 100%; /* Largura do contêiner dos campos */
    display: flex;  
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
    gap: 10px;
    margin: 20px 20px 20px 60px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens */
    justify-content: center; /* Centraliza verticalmente */
    gap: 15px; /* Espaçamento entre os itens */
    width: 30%; /* Largura do contêiner de upload */
    margin-top: -500px;
    margin-left: auto;
    margin-right: 200px;
    margin-bottom: 20px;
}

.upload-container input[type="file"] {
    display: none; /* Esconde o input de arquivo */
}

.upload-container label {
    background-color: #191340; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas levemente arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-family: "Inter", sans-serif; /* Fonte consistente */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para o efeito de hover */
}

.upload-container label:hover {
    background-color: #000; /* Cor de fundo ao passar o mouse */
}

.upload-container .image-preview {
    width: 200px; /* Largura fixa da imagem */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 5px; /* Bordas levemente arredondadas */
    margin-bottom: 10px; /* Margem inferior para separar do botão */
}

#image-previews {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens quebrem linha */
    gap: 10px; /* Espaçamento entre as imagens */
    max-height: 500px; /* Altura máxima do contêiner */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #a1a1a1; /* Borda para visualização */
    border-radius: 5px; /* Bordas levemente arredondadas */
}

@media (max-width: 1200px) {
    .form-cadastro-container {
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    .form-cadastro {
        width: 100%;
    }

    .upload-container {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .form-cadastro-container {
        margin: 20px;
    }

    .upload-container .image-preview {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .form-cadastro-container {
        margin: 10px;
    }

    .upload-container .image-preview {
        width: 100px;
    }

    .upload-container label {
        padding: 5px 10px;
        font-size: 14px;
    }
}

/* Media Queries para o header */
@media (max-width: 1200px) {
    .container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-header img {
        width: 80px;
        height: auto;
    }

    .nome-loja {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-header img {
        width: 60px;
        height: auto;
    }

    .nome-loja {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-header img {
        width: 40px;
        height: auto;
    }

    .nome-loja {
        font-size: 16px;
    }
}

.remove-button {
    display: flex;
    align-items: center;
    background-color: #e74c3c; 
    height: 2vw;
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 8px 12px; 
    cursor: pointer; 
    font-size: 14px; 
    transition: background-color 0.3s ease; 
}

.remove-button:hover {
    background-color: #c0392b; 
}
.remove-button:focus {
    outline: none; 
}
.principal {
    border: 2px solid green; 
    transform: scale(1.1); 
}
