@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 10px;
}

header {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;
}

img {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    margin: 0px 0px 0px 30px;
    padding: 5px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone {
    margin-right: 80px;
    margin-top: 3px;
    background-color: #fff;
    border-radius: 20px;
}

.nome-loja {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    margin-right: 1500px;
}

.espaco-preto{
    background-color: #000;
}

.titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 30px;
}

.header-body {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-cadastro {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
    margin-left: 50px;
    text-align: center;
}

.botao-voltar {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 80px;
}

.botao-voltar:hover {
    color: #fff;
    background-color: #191340;
}

.titulo-campo {
    width: 50%;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #191340;
    margin-bottom: 5px;
}

.input-cadastro {
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-cadastro:focus {
    border-color: #191340;
}

.botao-cadastro {
    background-color: #191340;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-cadastro:hover {
    background-color: #000;
}

.form-cadastro-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 150px;
    margin-top: 20px;
    width: 70%;
}

.campo-container {
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 20px 20px 60px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 30%;
    margin-top: -500px;
    margin-left: auto;
    margin-right: 200px;
    margin-bottom: 20px;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label {
    background-color: #191340;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-container label:hover {
    background-color: #000;
}

.upload-container .image-preview {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

#image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .form-cadastro-container {
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    .form-cadastro {
        width: 100%;
    }

    .upload-container {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .form-cadastro-container {
        margin: 20px;
    }

    .upload-container .image-preview {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .form-cadastro-container {
        margin: 10px;
    }

    .upload-container .image-preview {
        width: 100px;
    }

    .upload-container label {
        padding: 5px 10px;
        font-size: 14px;
    }
}


@media (max-width: 1200px) {
    .container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-header img {
        width: 80px;
        height: auto;
    }

    .nome-loja {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-header img {
        width: 60px;
        height: auto;
    }

    .nome-loja {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-header img {
        width: 40px;
        height: auto;
    }

    .nome-loja {
        font-size: 16px;
    }
}