body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 79%;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #191340;
  height: 8vh;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 39.5px;
  height: 39.5px;
  margin-right: 10px;
}

.logo h2 {
  color: #fff;
}

.navegacao {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navegacao ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navegacao li {
  margin-right: 11.85px;
}

.navegacao a {
  text-decoration: none;
  color: #fff;
}

.navegacao ul li a:hover {
  color: #FFD700;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.icone, .carrinho-button {
  width: 23.7px;
  height: 23.7px;
  margin-left: 11.85px;
}

.card-login-cadastro {
  background-color: #000;
  display: none;
  position: absolute;
  top: 47.4px;
  right: 0;
  width: 157.9px;
  padding: 7.9px;
  border: 1px solid #000000;
  border-radius: 6.32px;
  box-shadow: 0 1.58px 3.16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.card-login-cadastro button {
  display: block;
  width: 100%;
  padding: 6.32px;
  margin-top: 6.32px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3.16px;
  cursor: pointer;
  font-size: 0.711em;
}

.card-login-cadastro button:hover {
  background-color: #0056b3;
}

main {
  padding: 15.8px;
  background-color: white;
  margin: 15.8px auto;
  max-width: 790px;
  box-shadow: 0 0 7.9px rgba(0, 0, 0, 0.1);
  border-radius: 6.32px;
}

h2 {
  margin-top: 0;
  color: #333;
}

input, select {
  width: 100%;
  padding: 6.32px;
  margin-bottom: 6.32px;
  border: 1px solid #ccc;
  border-radius: 3.16px;
  font-size: 11.06px;
}

input[disabled], select[disabled], span {
  background-color: #f0f0f0;
  color: #666;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6.32px 9.48px;
  border-radius: 3.95px;
  cursor: pointer;
  font-size: 11.06px;
}

button:hover {
  background-color: #0056b3;
}

#new-address-container {
  margin-top: 7.9px;
}

#new-address-input {
  width: calc(100% - 15.8px);
  padding: 6.32px;
  margin-bottom: 6.32px;
  border: 1px solid #ccc;
  border-radius: 3.16px;
  font-size: 11.06px;
}

.address-flex-container {
  display: flex;
  gap: 15.8px;
}

#added-addresses-container {
  flex: 1;
  margin-top: 15.8px;
}

.address-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.9px;
  border: 1px solid #ccc;
  border-radius: 3.16px;
  margin-bottom: 7.9px;
}

.address-item p {
  margin: 0;
}

.address-item .default-label {
  color: green;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container-header {
    flex-direction: column;
    height: auto;
    padding: 7.9px;
  }

  .navegacao ul {
    flex-direction: column;
  }

  .navegacao li {
    margin-bottom: 7.9px;
    margin-right: 0;
  }

  .icone, .carrinho-button {
    width: 23.7px;
    height: 23.7px;
  }

  .button {
    margin-left: 0;
  }

  .address-flex-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container-header {
    padding: 7.9px;
  }

  .navegacao ul {
    padding-left: 0;
  }

  .navegacao li {
    margin-bottom: 3.95px;
  }

  .icone, .carrinho-button {
    width: 19.75px;
    height: 19.75px;
  }

  .carousel {
    height: 197.5px;
  }

  .c-card {
    width: 100%;
    padding: 11.85px;
  }

  .button {
    padding: 0.49em 0.99em;
    margin-left: 0;
  }
}

label {
  display: block;
  font-size: 11.06px;
  color: #333;
  margin-bottom: 3.95px;
  font-weight: bold;
}

label input {
  width: 100%;
  padding: 6.32px;
  margin-top: 3.95px;
  margin-bottom: 6.32px;
  border: 1px solid #ccc;
  border-radius: 3.16px;
  font-size: 11.06px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 31.6px;
}

.user-data, .address-data, .added-addresses {
  flex: 1;
  background-color: white;
  padding: 15.8px;
  box-shadow: 0 0 7.9px rgba(0, 0, 0, 0.1);
  border-radius: 6.32px;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}