
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 10px;
}

header {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;
}

img {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    margin: 0px 0px 0px 30px;
    padding: 5px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone {
    margin-right: 80px;
    margin-top: 3px;
    background-color: #fff;
    border-radius: 20px;
}

.nome-loja {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    margin-right: 1500px;
}

.espaco-body {
    background-color: #000;
}

.titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-left: 30px;
}

.header-body {
    background-color: #191340;
    width: 100vw;
    height: 8vh;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botao-add {
    margin-top: 20px;
}

.botao {
    background-color: #fff;
    color: #191340;
    border: 1px solid #191340;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    margin-left: 850px;
}

.botao:hover {
    background-color: #191340;
    color: #fff;
}

.caixa-pesquisa {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 30px;
}

.pesquisa {
    background-color: #fff;
    color: #191340;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pesquisa::placeholder {
    color: #aaa;
    opacity: 1;
}

.pesquisa:focus {
    border-color: #191340;
    box-shadow: 0 0 5px rgba(25, 19, 64, 0.5);
}

.botao-pesquisa {
    background-color: #fff;
    color: #191340;
    border: 1px solid #191340;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    margin-left: 10px;
    margin-right: 20px;
}

.botao-pesquisa:hover {
    background-color: #191340;
    color: #fff;
}

.tabela-container {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.tabela {
    width: 100%;
    max-width: 100vw;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabela th, .tabela td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
@media (max-width: 1200px) {
    .nome-loja {
        margin-right: 800px;
    }
}

@media (max-width: 768px) {
    header, .header-body {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .container-header {
        flex-direction: column;
    }

    .nome-loja {
        margin-right: 0;
        margin-bottom: 10px;
    }

    img {
        margin: 0 auto;
    }

    .tabela-container {
        padding: 0 10px;
    }

    .tabela {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    .pesquisa, .botao-pesquisa {
        font-size: 14px;
        padding: 8px 10px;
    }

    .botao-add a button {
        font-size: 14px;
        padding: 8px 10px;
    }

    .tabela th, .tabela td {
        padding: 5px;
        font-size: 12px;
    }

    .pagination-container button {
        font-size: 14px;
        padding: 8px 10px;
    }
}