
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
    background-color: #191340;
    height: 8vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
}

.logo h2 {
    color: #fff;
}

.navegacao {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navegacao ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegacao li {
    margin-right: 20px;
}

.navegacao a {
    text-decoration: none;
    color: #fff;
}

.nav-icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icone, .carrinho-button {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.navegacao ul li a:hover {
    color: #FFD700;
}

.titulo-carrinho {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
}

.tabela-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tabela {
    width: 55%;
    border-collapse: collapse;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border-collapse: collapse;
}

.tabela th, .tabela td {
    padding: 12px 15px;
    text-align: left;
}

.tabela th {
    background-color: #191340;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
}

.tabela td {
    color: #333;
    border-bottom: 1px solid #ddd;
}

.tabela tr:hover {
    background-color: #f1f1f1;
}

.tabela img {
    border-radius: 8px;
    max-width: 80px;
    max-height: 80px;
}

.tabela .preço, .tabela .quantidade, .tabela .total {
    text-align: center;
    font-weight: bold;
    color: #4a4a4a;
}

.tabela .total {
    color: #191340;
}

@media (max-width: 768px) {
    .tabela {
        font-size: 0.9em;
    }

    .tabela img {
        max-width: 50px;
        max-height: 50px;
    }

    .tabela th, .tabela td {
        padding: 8px 10px;
    }
}

.resumo-container {
    position: fixed;   
    width: 23%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin-left: 20px; 
    right: 7%;
    top: 20%;
}

.resumo-card h3 {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #191340;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.resumo-card p {
    font-size: 1em;
    color: #333;
    margin: 10px 0;
}

.resumo-card label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #333;
    font-weight: bold;
}

.cep-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.cep-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9em;
    background-color: #f9f9f9;
}

.cep-container input[type="button"] {
    padding: 10px;
    background-color: #191340;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9em;
}

.cep-container input[type="button"]:hover {
    background-color: #14112c;
}

#frete-resultado {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

.botao {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #191340;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #14112c;
}

.botao:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(25, 19, 64, 0.5);
}

@media (max-width: 768px) {
    .resumo-container {
        width: 100%;
        margin: 0;
        box-shadow: none;
        border: none;
        position: static;
    }

    .botao {
        font-size: 0.9em;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-botoes {
    margin-top: 20px;
}

#addEndereco {
    background-color: #191340;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#addEndereco:hover {
    background-color:#4434ad;
    transform: scale(1.05);
}

#addEndereco:active {
    transform: scale(0.95);
}

#salvarEndereco {
    background-color: #191340;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#salvarEndereco:hover {
    background-color: #4434ad;
    transform: scale(1.05);
}

#salvarEndereco:active {
    transform: scale(0.95);
}

.endereco input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

/* Estilos para a seção de endereços adicionados */
.added-addresses {
    margin-top: 20px;
}

.added-addresses h2 {
    font-size: 1.5em;
    color: #191340;
    margin-bottom: 10px;
}

.address-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.address-item p {
    margin: 5px 0;
    color: #333;
}

.address-item .button {
    background-color: #191340;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.address-item .button:hover {
    background-color: #4434ad;
    transform: scale(1.05);
}

.address-item .button:active {
    transform: scale(0.95);
}

.default-label, .billing-label {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}
.botao-desabilitado {
    background-color: #4a4a4a;
    cursor: not-allowed;
}

.botao-habilitado {
    background-color: #191340;
    cursor: pointer;
}

.botao-habilitado:hover {
    background-color: #14112c;
}
/* pra main */
